/**
 *
 * CSS styles for ProcessDashboardNotes.
 *
 * @author Francis Otieno (Kongondo) <kongondo@gmail.com>
 *
 * https://github.com/kongondo/DashboardNotes
 * Created February 2019
 *
 */

/** html **/
/* Prevent "jump" on shorter pages */
html {overflow-y:scroll;}

/** div **/

/** span **/

/** form **/


/** input **/

/** label **/


/** button **/
/* @todo: revisit these! here we override PW admin theme styling of our colour picker buttons */
.pcr-app .pcr-interaction .pcr-save {background: #4285f4 !important;}
.pcr-app .pcr-interaction .pcr-clear {background: #f44250 !important;}

/** list **/


/** anchor **/

/** i **/
