/**
 *
 * CSS styles for ProcessDashboardNotes.
 *
 * @author Francis Otieno (Kongondo) <kongondo@gmail.com>
 *
 * https://github.com/kongondo/DashboardNotes
 * Created February 2019.
 *
 */

 .dn_hide {display: none !important;}

 /** html **/
 /* Prevent "jump" on shorter pages */
 html {overflow-y:scroll;}

 /** heading **/
div#top_pager h2.dn_results_headline {float: left; margin: 0 0 1.5em 0;}
/* div#dn_single_note header {margin-top: 30px} */

 /** div **/
 /* div#dn_notes_container div.dn_note {width: 300px;height: 260px; padding: 15px;} */
 /* @todo: moving width and height inline (configurable) */
 div#dn_notes_container div.dn_note {padding: 15px;}
 div#dn_notes_container {clear: both;}
 div#bottom_pager {margin: 1.25em 0;  height: 3.125em;}
 div#dn_create_new_note {margin-top: 20px !important;}
 div.gridNote__overflow {
     width: 100%;
     height: 100%;
     overflow: hidden;
     position: relative;
     background-size: 16px 16px;
     background-position: 0 0, 8px 8px;
     /* @todo: padding? */
 }

 div.gridNote__hover {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     padding: 0.4em;
 }

 div.gridNote__inner {position: relative; width: 100%; height: 100%;}
 div.dn_actions_wrapper, div#top_pager {width: 100%;}
 div#dn_actions {padding-right: 1em}
 div.dn_note_footer {padding-right: 10px;}
 div#dn_note_responses {margin-top: 30px;}
 div#dn_note_text {font-size: 1.25em; padding-bottom: 25px;}
 /* @note: we need this to see the button if colour is very pale/light [for pickr colour picker]*/
div.pcr-button {/* border: 1px solid #d9e1ea;*/outline: #d9e1ea 1px solid;}

 /** span **/
span.dn_note_view_edit {
    position: absolute;
    width: 100%;
    text-align: center;
    display: none;
    top: 35%;/* @kongondo for DN */
}

.gridNote:hover span.dn_note_view_edit {display: block; }
span.dn_note_view_edit_divider, span.dn_note_back_edit_divider, span.dn_note_back_view_divider {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: bolder;
    color: white;
    font-size: 1.5em;
}

span.dn_note_back_edit_divider, span.dn_note_back_view_divider {font-weight: normal; color: #8d939e; font-size:initial}
span.dn_note_priority_meta {font-weight: bolder;}
span.fa span.dn_note_comments_count, span#dn_note_response_label {margin-left: 3px;}

 /** form **/

#dn_notes_bulk > ul > li, #dn_notes_bulk > ul > li > div {margin-top: 0; padding-top: 0} /*removes whitespace between h1 and navbar*/

 /** input **/
 .gridNote__icon > input {display: none;}

 select#dn_action_select {/* margin-right: 0.75em; */ width: 150px; }

 /** label **/
 label#dn_action_select_label {margin-right: 0.5em;}
 label.gridNote__icon {display: none;}
 .gridNote:hover label.gridNote__icon:hover {display: block; color: #e83561; background-color: white;}

 /** button **/
 /* @todo: revisit these? here we override PW admin theme styling of our colour picker buttons */
 .pcr-app .pcr-interaction .pcr-save {background: #4285f4 !important;}
 .pcr-app .pcr-interaction .pcr-clear {background: #f44250 !important;}
 button#dn_actions_btn {display: none;}
 div#dn_note_responses button.dn_response_reply_btn {margin-top:15px;}

 /** list **/
 div#top_pager .MarkupPagerNav, div#bottom_pager .MarkupPagerNav {float: right;}

 ul.dn_notes_grid {
     padding-left: 0;
     position: relative;
     margin: 0;
     margin-right: -.6em;
     display: block;
     list-style: none;
 }

 li.gridNote {
     display: inline-block;
     margin: 0 0.6em 0.6em 0;
     box-shadow: none; border: 1px solid #d9e1ea;
     list-style: none;
 }
 .gridNote {
     position: relative;
     border-radius: 2px;
     background: #fff;
     padding: 0.4em;
     vertical-align: top;
     box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
 }

 .gridNote__icon {
     position: absolute;
     background: white;
     padding: .2em .6em;
     color: #aaa;
     z-index: 2;
     cursor: pointer;
 }
 .gridNote__edit:hover {color: white; }
 .gridNote:hover .gridNote__inner {background: rgba(62, 185, 152, 0.7);}

 .gridNote__icon--single {display: block !important; position: static;}/*  @todo: needed? */
 .gridNote:hover .gridNote__icon {display: block;}
 .gridNote--select {background-color: #e83561 !important;}
 .gridNote--select .gridNote__icon {background-color: #e83561; color: white; display: block;}
 .gridNote--select .gridNote__icon:hover {background-color: #e83561;}
 .gridNote--select:hover .gridNote__edit, .gridNote--select:hover .gridNote__locked, .gridNote--select:hover .dn_note_view_edit_divider {
     display: none;
    }

 .gridNote--select:hover .gridNote__icon:hover {background-color: #e83561;}
 .gridNote--select:hover .gridNote__inner {background: rgba(232, 53, 97, 0.3);}
/* @todo: experimental */
/* li.gridNote.dn_low_priority {border: 1px solid orange;}
li.gridNote.dn_normal_priority {border: 1px solid green;}
li.gridNote.dn_high_priority {border: 1px solid red;} */

/** article **/
div#dn_note_responses ul.dn_threaded_comments article.uk-comment {background-color:#1c2836; background-color: rgba(237, 241, 247, 0.5);padding:20px; border-radius: 10px;}

 /** anchor **/
 div#dn_menu a.dn_on {color: #354b60;font-weight: bold;}
 div#dn_menu_actions select {background-color: #ffffff}
 a.gridNote__edit, a.gridNote__locked {
    display: inline-block;
    color: white !important;
    font-size: 1.3em;
    cursor: move;
    text-shadow: 0px 0px 7px rgba(62, 185, 152, 0.7);
}
 div.gridNote__inner a.gridNote__locked {font-size: 1.9em; cursor: not-allowed;}
 a.gridNote__edit {cursor: pointer;}
 /* @note: we've moved this to the span */
 /* .gridNote:hover .gridNote__edit, .gridNote:hover .gridNote__locked {display: block; } */
 a.gridNote__locked {vertical-align: sub;}
 a.dn_create_note, a.dn_back_to_all_notes, a.dn_back_to_edit {display: inline-block; margin-bottom: 30px !important;}
div#dn_note_responses a.dn_note_comment_action_reply {display:block; margin-top: 20px;}

 /** i **/
